$projectWraperWidth: 300px;
$projectBorderRadius: 8px;
$mainContentWidth: 980px;
$navHeight: 70px;
$imgTop: -464px;
$transitionTime: 0.1s;
$backgroundColor: #f4f7f6;
$mainFontColor: #202121;
$mainColor: #49c5b6;
$borderRadius: 36px;
$imageBackgroundColor: #e1f0ef;

.img-place-holder {
  display: none;
}
.main-content {
  width: $mainContentWidth;
  margin: 0 auto;
}
body {
  color: $mainFontColor;
}
header {
  min-width: 1300px;
  background-color: $backgroundColor;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6eaea;
  .header-container {
    @extend .main-content;
    padding-top: $navHeight + 30;
    nav {
      position: fixed;
      height: $navHeight;
      width: 100%;
      top: 0;
      left: 0;
      background-color: $backgroundColor;
      z-index: 9999;
      box-shadow: 0 2px 10px #e3e4e3;
      a {
        display: block;
        height: 70px;
        width: 190px;
        line-height: 70px;
        color: $mainFontColor;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.3s;
        text-align: center;
        &:hover {
          color: #64686a;
        }
      }
      ul {
        margin: 0 auto;
        li {
          float: left;
          border-right: 1px solid #e6eaea;
        }
        .nav-active {
          background-color: $mainColor;
          a {
            color: #fff;
            &:hover {
              background-color: #42ab9e;
              color: #fff;
            }
          }
        }
      }
      .pdf-file {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid #e6eaea;
      }
    }
    #about {
      padding: 20px;
      .base-info {
        float: left;
        width: 230px;
        padding: 0 10px;
        h2 {
          font-size: 22px;
          font-weight: 500;
          margin: 10px 0;
        }
        ul {
          margin-left: 32px;
          list-style-type: disc;
          li {
            margin: 5px 0;
          }
        }
        .avatar {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          background-color: $imageBackgroundColor;
        }
        .name-position {
          width: 200px;
          height: 40px;
          text-align: center;
          border-bottom: 1px solid #e6eaea;
        }
        .name {
          @extend .name-position;
          margin: 10px 0 0 0;
          p {
            font-size: 16px;
            line-height: 40px;
            font-weight: 500;
          }
        }
        .position {
          @extend .name-position;
          p {
            line-height: 40px;
            font-weight: 500;
          }
        }
        .my-info {
          a {
            // padding: 1px 5px 0 5px;
            color: $mainFontColor;
            // box-shadow: none;
            transition: color 0.3s;
            // animation: sploosh 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
            // animation-iteration-count: infinite !important;
            // border-radius: $borderRadius;
            &:hover {
              color: $mainColor;
            }
          }
          // @keyframes sploosh {
          //   0% {
          //     box-shadow: 0 0 0 0 rgba(255, 78, 78, 0.7);
          //   }
          //   100% {
          //     box-shadow: 0 0 10px 10px rgba(255, 78, 78, 0);
          //   }
          // }
        }
        .website {
          p {
            margin: 5px;
            i {
              margin: -6px 8px -6px 0;
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/large/icon.png);
              background-size: 24px;
            }
            i.blog {
              background-position: 0px -25px;
            }
            i.photography {
              background-position: 0px -49px;
            }
            a {
              display: inline-block;
              height: 28px;
              color: $mainFontColor;
              transition: color 0.3s;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
      .other {
        float: left;
        h2 {
          font-size: 22px;
          margin: 10px 0;
        }
        .tech-work-self {
          width: 650px;
          margin: 5px 0;
          padding: 5px 0 5px 10px;
          border-left: 2px solid #2c3c51;
          border-radius: 8px;
        }
        .tech {
          @extend .tech-work-self;
          .tech-info {
            float: left;
            width: 330px;
            ul {
              margin-left: 6px;
              li {
                margin: 8px 0;
                a {
                  color: $mainFontColor;
                  transition: color 0.3s;
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
          }
          .tech-gragh {
            float: left;
            width: 320px;
            .progress-bar {
              margin: 8px 10px 12px 10px;
              font-size: 12px;
              background-color: #fff;
              border: 1px solid $mainColor;
              border-radius: 12px;
              .fill {
                display: block;
                width: 0;
                height: 16px;
                padding-left: 8px;
                line-height: 16px;
                text-align: left;
                color: #fff;
                background-color: $mainColor;
                border: 1px solid $mainColor;
                border-radius: 12px;
                box-shadow: 0 0 5px $mainColor;
                overflow: hidden;
                transition: width 1s;
                &.fill-js {
                  width: 75%;
                }
                &.fill-vue {
                  width: 65%;
                }
                &.fill-http {
                  width: 50%;
                }
                &.fill-git {
                  width: 60%;
                }
                &.fill-gulp {
                  width: 75%;
                }
                &.fill-bs {
                  width: 80%;
                }
                &.fill-jq {
                  width: 80%;
                }
                &.fill-ra {
                  width: 30%;
                }
                &.fill-wp {
                  width: 55%;
                }
                &.fill-node {
                  width: 40%;
                }
              }
            }
          }
        }
        .work-experience {
          @extend .tech-work-self;
          a {
            color: $mainFontColor;
            transition: all 0.3s;
          }
          ul {
            margin-left: 10px;
            li {
              margin: 10px 0;
              .work-company {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                margin: 5px 0;
                a:hover {
                  color: $mainColor;
                }
              }
              .work-position {
                display: inline-block;
                margin: 0 5px;
              }
              .work-tags {
                font-size: 12px;
                margin: 5px 0;
                span {
                  display: inline-block;
                  background-color: #9fd2d6;
                  color: #fff;
                  margin: 0 5px 0 5px;
                  height: 15px;
                  line-height: 15px;
                  padding: 1px 5px 0 5px;
                  font-size: 10px;
                  border-radius: $borderRadius;
                }
              }
              .work-content {
                margin: 5px 0;
                p {
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
#project {
  min-width: 1200px;
  background-color: $backgroundColor;
  overflow: hidden;
  padding: 70px 0;
  .cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  .main-container {
    @extend .main-content;
  }
  h2 {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0 40px;
  }
  .project-example {
    width: 33.33%;
    float: left;
    margin: 20px 0;
    figure {
      position: relative;
      width: $projectWraperWidth;
      margin: 0 auto;
      .project-cover {
        width: $projectWraperWidth;
        height: $projectWraperWidth;
        overflow: hidden;
        background: $imageBackgroundColor;
        img {
          vertical-align: middle;
          z-index: 10;
        }
      }
      .img-wraper {
        position: relative;
        a {
          color: #999;
        }
        img {
          width: $projectWraperWidth - 2;
          position: absolute;
          visibility: hidden;
          z-index: -9999;
        }
        img:nth-child(1) {
          z-index: 10;
        }
      }
      figcaption {
        position: relative;
        padding: 8px;
        font-size: 12px;
        background-color: #fff;
        .intro {
          display: none;
          position: absolute;
          width: $projectWraperWidth - 20;
          height: 50px;
          top: -70px;
          left: 0;
          padding: 10px;
          color: #fff;
          z-index: 1000;
          background: rgba(0, 0, 0, 0.8);
          a {
            color: $mainColor;
          }
        }
        .intro-zhl-prod {
          height: 70px;
          top: -90px;
        }
        .main-info {
          h3 {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            a {
              color: $mainFontColor;
            }
          }
          time {
            color: #b0bec5;
            display: block;
            float: right;
          }
        }
        .tags {
          color: #fff;
          margin-top: 10px;
          padding-top: 6px;
          border-top: 1px solid #f4f7f6;
          span {
            display: inline-block;
            display: inline-block;
            background-color: #9fd2d6;
            color: #fff;
            margin: 10px 5px 10px 0;
            // margin: 0 5px 0 5px; 
            height: 15px;
            line-height: 15px;
            padding: 1px 5px 0 5px;
            font-size: 10px;
            border-radius: $borderRadius;
            &:nth-child(2) {
              background-color: #8154ef;
            }
            &:nth-child(3) {
              background-color: #ff4e4e;
            }
            &:nth-child(4) {
              background-color: #49c5b6;
            }
            &:nth-child(5) {
              background-color: #a6abab;
            }
          }
        }
      }
      figcaption.higher {
        height: 106px;
      }
    }
  }
}
